* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  background: #fff;
  color: #090909; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

body {
  background: #fff;
  color: #090909; }
