//- favicon сайта
link(rel='apple-touch-icon', sizes='180x180', href='img/favicons/apple-touch-icon.png')
link(rel='icon', type='image/png', sizes='32x32', href='img/favicons/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='16x16', href='img/favicons/favicon-16x16.png')
link(rel='mask-icon', href='img/favicons/safari-pinned-tab.svg', color='#5bbad5')
meta(name='msapplication-TileColor', content='#da532c')
meta(name='theme-color', content='#ffffff')
//- fonts
link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap", rel="stylesheet")
//- Файлы стилей
link(rel="stylesheet", href="css/style.min.css")
