//- Файл библиотек
script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
// uikit
script(src='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit-icons.min.js')
// aos
script(src='https://unpkg.com/aos@2.3.1/dist/aos.js')
//- Основной файл сценариев
script(src="js/common.min.js")
